<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Turmeric and thyme</title>
        <link rel="icon" type="image/x-icon" href="/img/herb.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Signika:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/recipelist.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/recipeform.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    </head>
    <style>


    </style>
<body>
 <!-------------------------------------- NAVBAR -------------------------------------->

        <header id="header">
            <ul class="nav">
                <li><img src="/img/logo.png" alt="Logo" class="logo"></li>
                <% if (!userid) { %>
                    <li><a class="nav li" href="/login">Login</a></li>
                    <li><a class="nav li" href="/signup">Signup</a></li>
                    <li><a class="nav li" href="/viewrecipe">Recipes</a></li>
                    <li><a class="nav li" href="/contactus">About Us</a></li>
                <% } else {%>
                    <li><a class="nav li" href="/viewrecipe">My Recipes</a></li>
                    <li><a class="nav li" href="/inputrecipe">Give Recipe</a></li>
                    <li><a class="nav li" href="/contactus">About Us</a></li>
                    <li><a class="nav li" href="/logout">Log Out</a></li>
                <% } %>
              </ul>
        </header>
 

<!-------------------------------------- NAVBAR ENDS -------------------------------------->

    <section class="banner" id="top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="banner-caption">
                        <% if (userid) { %>
                            <h2>Recipes for <%= userinfo.username %></h2>
                        <% } else { %>
                            <h2>Best Recipes For All</h2>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!----------------------------------------------Click here for a random recommendation---------------------------------------------------------->
<section class="popular-places" id="popular">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span style="font-family: 'Signika', 'sans-serif'; color: #0e6e1a;">Search Here</span>
                </div>
            </div> 
        </div> 
        <div class="container">
            <form name="search_input">
                <div class="row justify-content-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="search-box" id="searchBox" placeholder="Ingredient or dish">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="search-button" id="searchBtn" style="font-family: 'Signika', 'sans-serif';">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p class="or-caption" style="font-family: 'Signika', 'sans-serif'; color: #0e6e1a;">- OR -</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <button type="button" onclick="loadRecipe('<%= recipes[Math.floor(Math.random() * recipes.length)]._id %>')" class="search-button" style="font-family: 'Signika', 'sans-serif';">Click me for a random recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-----------------------------------------------------Featured Recipes---------------------------------------------------------------------->

    <section class="featured-recipes" style="background-image: url('/img/1.png');" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span style="font-family: 'Signika', 'sans-serif'; color: #0e6e1a; margin-top: 5em;">Featured recipes</span>
                    </div>
                </div> 
            </div> 
            <div class="row" id="recipeCardsContainer">
                <% recipes.slice(0, 3).forEach(function(recipe) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12 p-4">
                        <div class="featured-item">
                            <div class="thumb">
                                <img src="<%= recipe.imageURL %>" alt="">
                            </div>
                            <div class="down-content">
                                <h4><%= recipe.recipeTitle %></h4>
                                <span><%= recipe.category %></span>
                                <p class="recipe-description"><%= recipe.recipeDescription %></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-button">
                                            <a href="#" onclick="loadRecipe('<%= recipe._id%>')">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <!-- <section class="our-services" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span>Our Services</span>
                        <h2>Best Template Site</h2>
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_1.png" alt="">
                        </div>
                        <h4>High Quality Design</h4>
                        <p>Etiam viverra nibh at lorem hendrerit porta non nec ligula. Donec hendrerit porttitor pretium. Suspendisse fermentum nec risus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_2.png" alt="">
                        </div>
                        <h4>Fully Customizable</h4>
                        <p>Vivamus nec vehicula felis, sit amet convallis ex. Aenean dolor risus, rutrum at tincidunt eget, placerat ac mauris.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_3.png" alt="">
                        </div>
                        <h4>Best HTML CSS Layout</h4>
                        <p>Praesent nec dui sed urna pharetra dapibus at ac elit. Aenean hendrerit metus leo, quis viverra purus condimentum nec.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="down-services">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="left-content">
                                    <h4>In hac habitasse platea dictumst</h4>
                                    <p>Aenean hendrerit metus leo, quis viverra purus condimentum nec. Pellentesque a sem semper, lobortis mauris non, varius urna. Quisque sodales purus eu tellus fringilla.<br><br>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac habitasse platea dictumst.</p>
                                    <div class="blue-button">
                                        <a href="#">Discover More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="accordions">
                                    <ul class="accordion">
                                        <li>
                                            <a>Ut in dapibus ipsum</a>
                                            <p>Nulla eget aliquet dui, vitae tincidunt nulla. Sed sagittis odio vitae auctor volutpat. In semper ex neque, ut hendrerit mauris rutrum eget. Integer consectetur neque eu enim dictum porta. Sed et risus ac sapien congue mattis.</p>
                                        </li>
                                        <li>
                                            <a>Vivamus ligula metus</a>
                                            <p>Integer vel augue arcu. Fusce ac turpis cursus, malesuada nulla quis, lobortis dui. Etiam blandit, erat efficitur rhoncus pellentesque, ligula turpis tempor dolor.</p>
                                        </li>
                                        <li>
                                            <a>Suspendisse dapibus</a>
                                            <p>Nullam nibh lacus, rhoncus sit amet feugiat vel, porttitor sit amet nibh. Pellentesque feugiat justo nec enim pretium, sed faucibus lacus aliquam. Sed ac interdum mauris.</p>
                                        </li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!-- <section id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                <span>Video Presentation</span>
                <h2>Sed et risus ac sapien congue mattis.</h2>
                <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="highway-loop.mp4" type="video/mp4" />
        </video>
    </section> -->

    <%- include('./partials/footer.ejs') %>
    <script>

        

        async function loadRecipe(recipeId) {
        try {
            // Redirect to the recipeblog page with the recipe ID as a query parameter
            window.location.href = '/recipeblog?recipeId=' + recipeId;
        } catch (error) {
            console.error('Error:', error);
        }
    }
        const form = document.querySelector('form[name="search_input"]')
        form.addEventListener('submit',async (e) => {
        e.preventDefault();
        // get values
        const searchword_html = form.searchBox.value;
            window.location.href = '/searched?searchword_html=' + searchword_html;
        })
</script>
</body>
</html>
