<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" href="css/recipeblog.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

<body>
    <header id="header">
        <ul class="nav">
            <li><a href="/index"><img src="/img/logo.png" alt="Logo" class="logo"></a></li>
            <% if (!userid) { %>
                <li><a class="nav li" href="/login">Login</a></li>
                <li><a class="nav li" href="/signup">Signup</a></li>
                <li><a class="nav li" href="/viewrecipe">Recipes</a></li>
                <li><a class="nav li" href="/contactus">About Us</a></li>
            <% } else {%>
                <li><a class="nav li" href="/viewrecipe">My Recipes</a></li>
                <li><a class="nav li" href="/inputrecipe">Give Recipe</a></li>
                <li><a class="nav li" href="/contactus">About Us</a></li>
                <li><a class="nav li" href="/logout">Log Out</a></li>
            <% } %>
          </ul>
    </header>
    <!------------------------------------------------------------------------------------------------------------------------------------>
    <div class="container-blog">
        <div class="big-card">
            <!-- Recipe heading -->
            <% recipes.forEach((element) => { %>
            <div class="text-center">
                <p class="title"><%= element.recipeTitle %></p>
                <p class="description"><%= element.recipeDescription %></p>            
            <!-- Food Image -->
                <img src="<%= element.imageURL %>" alt="Food Image" class="img">
            </div>
            
            <!-- Recipe Facts -->
            <div class="facts-container">
                <h2 class="facts-title">Recipe Facts</h2>
                <ul class="facts-list">
                    <li><strong>Calories:</strong> <%= element.calories %></li>
                    <li><strong>Prep Time:</strong> <%= element.prepTime %></li>
                    <li><strong>Cook Time:</strong> <%= element.cookingTime %></li>
                    <li><strong>Servings:</strong> <%= element.servings %></li>
                </ul>
            </div>

            <!-- Ingredients Section -->
            <div class="facts-container">
                <h2 class="facts-title">Ingredients</h2>
                <ul class="facts-list">
                    <% element.ingredients.forEach((item) => { %>
                    <li><%= item %></li>
                    <% }); %>
                    <!-- Add more ingredients as needed -->
                </ul>
            </div>

            <!-- Steps Section -->
            <div class="facts-container">
                <h2 class="facts-title">Steps</h2>
                <ol class="facts-list">
                    <% element.steps.forEach((item) => { %>
                    <li><%= item %></li>
                    <% }); %>
                </ol>
            </div>
        </div>
        <% }); %>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
    <%- include('./partials/footer.ejs') %>
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>