<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/recipeform.css">
        <link rel="stylesheet" href="css/recipelist.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Searched Recipe List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="js/index.js"></script>
    </head>

<body>
    <div class="wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="primary-nav-button" type="button">Menu</button>
                      <!--  <a href="index.html"><div class="logo">
                            <img src="img/logo.png" alt="Venue Logo">
                        </div></a>-->
                        <nav id="primary-nav" class="dropdown cf">
                            <ul class="dropdown menu">
                                <li class='active'><a href="/index">Home</a></li>
                                <li><a class="scrollTo" href="/viewrecipe">All Recipes</a></li>
                                <li><a class="scrollTo" data-scrollTo="contact" href="#">Contact Us</a></li>
                            </ul>
                        </nav><!-- / #primary-nav -->
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!--------------------------------------------------------------------------------------------->
    <section class="featured-recipes" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span>Showing searched recipes</span>
                    </div>
                </div> 
            </div> 
            <div class="row" id="recipeCardsContainer">
                <% recipes.forEach(function(recipe) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12 p-4">
                        <div class="featured-item">
                            <div class="thumb">
                                <img src="<%= recipe.imageURL %>" alt="">
                            </div>
                            <div class="down-content">
                                <h4><%= recipe.recipeTitle %></h4>
                                <span><%= recipe.category %></span>
                                <p class="recipe-description"><%= recipe.recipeDescription %></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-button">
                                            <a href="#" onclick="loadRecipe('<%= recipe._id%>')">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------------------------------------------------------->
    <%- include('./partials/footer.ejs') %>
    <script>
            async function loadRecipe(recipeId) {
            try {
                // Redirect to the recipeblog page with the recipe ID as a query parameter
                window.location.href = '/recipeblog?recipeId=' + recipeId;
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
</body>
</html>