<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/recipeform.css">
        <link rel="stylesheet" href="css/recipeviews.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="icon" type="image/x-icon" href="/img/herb.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="js/index.js"></script>
    </head>

<body>

        <header id="header">
            <ul class="nav">
                <li><a href="/index"><img src="/img/logo.png" alt="Logo" class="logo"></a></li>
                <% if (!userid) { %>
                    <li><a class="nav li" href="/login">Login</a></li>
                    <li><a class="nav li" href="/signup">Signup</a></li>
                    <li><a class="nav li" href="/viewrecipe">Recipes</a></li>
                    <li><a class="nav li" href="/contactus">About Us</a></li>
                <% } else {%>
                    <li><a class="nav li" href="/viewrecipe">My Recipes</a></li>
                    <li><a class="nav li" href="/inputrecipe">Give Recipe</a></li>
                    <li><a class="nav li" href="/contactus">About Us</a></li>
                    <li><a class="nav li" href="/logout">Log Out</a></li>
                <% } %>
              </ul>
        </header>
        
    <!--------------------------------------------------------------------------------------------->
    <% if (!userid) { %>
    <section class="featured-recipes" id="blog">
        <hr class="line">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span style="font-family: 'Signika', 'sans-serif'; color: #0e6e1a; margin-top: 1em;">Showing all recipes</span>
                    </div>
                </div> 
            </div> 
            <div class="row" id="recipeCardsContainer">
                <% recipes.forEach(function(recipe) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12 p-4">
                        <div class="featured-item">
                            <div class="thumb">
                                <img src="<%= recipe.imageURL %>" alt="">
                            </div>
                            <div class="down-content">
                                <h4><%= recipe.recipeTitle %></h4>
                                <span><%= recipe.category %></span>
                                <p class="recipe-description"><%= recipe.recipeDescription %></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-button">
                                            <a href="#" onclick="loadRecipe('<%= recipe._id%>')">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        </div>
        </div>
    </section>
    <% } else {%>
        <section class="featured-recipes" id="blog">
            <hr class="line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <span style="font-family: 'Signika', 'sans-serif'; color: #0e6e1a; margin-top: 1em;">Showing your recipes</span>
                        </div>
                    </div> 
                </div> 
                <div class="row" id="recipeCardsContainer">
                    <% user_recipes.forEach(function(recipe) { %>
                        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
                            <div class="featured-item">
                                <div class="thumb">
                                    <img src="<%= recipe.imageURL %>" alt="">
                                </div>
                                <div class="down-content">
                                    <h4><%= recipe.recipeTitle %></h4>
                                    <span><%= recipe.category %></span>
                                    <p class="recipe-description"><%= recipe.recipeDescription %></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="text-button">
                                                <a href="#" onclick="loadRecipe('<%= recipe._id%>')">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            </div>
            </div>
        </section>
        <% } %>
    <!-------------------------------------------------------------------------------------------------------------------------------->
    <%- include('./partials/footer.ejs') %>
    <script>
        // alert("Your screen resolution is: " + screen.width + "x" + screen.height);
            async function loadRecipe(recipeId) {
            try {
                // Redirect to the recipeblog page with the recipe ID as a query parameter
                window.location.href = '/recipeblog?recipeId=' + recipeId;
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
</body>
</html>